.thumbnail h3{
	text-align: center;


}

.img-responsive{
	height:100px;
}

.thumbnail h3 a{
	color: black;
}

.thumbnail h4{
	text-align: center;
}
label{
	margin-right: 30px;
	width: 100px;
}

input{
	height: 29px;
	width: 150px;

}

#id_movie_poster{
	width: 250px;
}